<header>

</header>

<div class="list">
  <p class="new-list">新しいリストを作成</p>
  <%= form_with(model: @list, local: true) do |form| %>
    <div class="name">
      リスト名を入力してください
      <%= form.text_field :name, class:"form-tag-box"%>
    </div>
    <div class="submit">
      <%= form.submit class:"submit-box"%>
    </div>
  <% end %>
</div>

<div class="list-show">
----------リスト一覧----------
  <% @lists.each do |list| %>
    <div class="show-name"><%= link_to list.name , list %></div>
  <% end %>
</div>



