body{
  margin: 0;
}
header{
  position: absolute;
  height: 50px;
  width: 1512px;
  background-color: rgb(128, 234, 234);
  margin: 0;
}
footer{
  position: absolute;
  height: 30px;
  width: 1512px;
  background-color: rgb(130, 213, 213);
}
